---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Highlights from "../components/Highlights.astro";
import FeatureList from "../components/FeatureList.astro";
import Install from "../components/Install.astro";
import GoodToKnow from "../components/GoodToKnow.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Highlights />
    <FeatureList />
    <Install />
    <GoodToKnow />
  </main>
  <Footer />
</Base>
